/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif !important;
  background: rgb(254, 249, 247);
  background: linear-gradient(
    0deg,
    rgba(254, 249, 247, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
}
ul {
  list-style: none;
  padding-left: 0 !important;
}
li {
  padding-top: 1rem;
}
/* Estilos Navbar */
.logo-nav {
  padding-top: 2em;
}

/* Estilos Seccion principal */
.main-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-text {
  flex: 50%;
}
.tittle-h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #000;
}
.punto{
    color:#ee7333;
}
.tittle-p {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.img-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50%;
  padding: 2em;
}
.elipse {
  height: auto;
  position: absolute;
  z-index: -1;
  transition: transform 2s;
}
.elipse:hover{
 transform: rotate(180deg);
}
.main-picture {
  max-width: 100%;
  height: auto;
  /* position: absolute; */
  z-index: 1;
  transition: transform 2s;
}
.main-picture:hover{
    transform: scale(1.05)
}
.block-btn {
  background: #ee7333;
  color: #ffffff;
  border-radius: 28px;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: all 2s;
}
.block-btn:hover{
background: linear-gradient(0deg, rgba(240,101,28,1) 0%, rgba(252,160,112,1) 100%);
color:#ffffff
}
.outline-btn {
  background-color: #ffffff;
  color: #ee7333;
  display: inline-block;
  text-decoration: none;
  border-radius: 28px;
  border: solid 1px #ee7333;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  transition: background-color 2s, color 2s;
}
.outline-btn:hover{
    background-color: #111111;
    color: #ffffff;
}

/* seccion food */
.food-section {
  background: #ffffff;
  box-shadow: 0px 14px 37px 19px rgba(126, 126, 126, 0.08);
  border-radius: 20px;
  text-align: center;
}
.food-img{
    transition: all 1s;
}
.food-img:hover{
    transform: rotate(0.5turn) scale(1.2);
}
.food-tittle {
  color: #111;
  font-weight: 700;
  padding: 0.5rem;
}
.food-p {
  font-weight: 400;
  color: #767676;
}
.food-btn {
  background: #d5dbe1;
  color: #ffffff;
  border-radius: 22.5px;
  border: none;
  padding: 0.5rem;
  font-weight: 700;
}

/* seccion slider */
.pic-slider {
  width: 35rem;
  border-radius: 20px;
}
.tittle-slider {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #000;
}
.p-slider {
  font-weight: 400;
}

/* Seccion producto */
.list-product {
  font-weight: 600;
  padding: 1rem;
}
.icon-product {
  padding-right: 1rem;
}
.movil {
    height: 50%;
    position: absolute;
    z-index: 1;
    transform: translate(50%);
    transition: all 1s;
  }
  .movil:hover{
    height: 70%;
    transform: translate(0%);
  }
.maquina {
    /* height: auto; */
    position: absolute;
    z-index: -1;
    height: 90%;
  }

  /* Footer */
.footer {
  background-color: #111111;
  color: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}
.logo-footer {
  padding: 0.5rem;
  height: 4rem;
}
.title-footer {
  font-weight: 700;
  font-size: 1.2rem;
}
.icon-rs {
  padding: 2rem;
}
.icon-pay {
  padding: 0.4rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

/* media queries */
@media (max-width: 800px) {
  .logo-nav {
    padding-bottom: 4em;
  }
  .main-section {
    flex-direction: column;
    height: 150vh;
  }
  .img-group {
    height: 100vh;
    padding: 0%;
  }
  .elipse {
    width: 100%;
  }
  .maquina {
    width: 100%;
  }
  .pic-slider {
    width: 20rem;
  }
  .maquina {
    height: auto;
    width: 100%;
  }
  .footer-row {
    display: block !important;
  }
  .iconos-box{
    text-align: left;
  }
  .icon-rs {
    padding: 0.2rem;
  }
}
